.ql-toolbar.ql-snow {
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  /* box-shadow: red !important; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: none!important; */
  border: 3px solid rgb(245, 226, 226) !important;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10px;
  position: sticky;
  top :0px;
  z-index: 4;
}
.ql-editor.ql-blank {
  width: 80%!important;
 margin: 0px auto;
 padding: 12px 0px;
}
p{
    width: 80%!important;
 margin: -40px auto;

 
}

#container{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width: 80%!important;
 margin: 0px auto;

 height: 100vh;
}